<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title | LinkPro!</title>

    <!-- jQuery -->
    <script src="~/Scripts/Vendors/jquery/dist/jquery.min.js"></script>
    <!-- AJAX -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <!-- Bootstrap -->
    <link href="~/Scripts/Vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Scripts/Vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/Scripts/Vendors/nprogress/nprogress.css" rel="stylesheet" />

    <!-- iCheck -->
    <link href="~/Scripts/Vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <!-- bootstrap-wysiwyg -->
    <link href="~/Scripts/Vendors/google-code-prettify/prettify.min.css" rel="stylesheet" />
    <!-- Select2 -->
    <link href="~/Scripts/Vendors/select2/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Switchery -->
    <link href="~/Scripts/Vendors/switchery/dist/switchery.min.css" rel="stylesheet" />
    <!-- starrr -->
    <link href="~/Scripts/Vendors/starrr/dist/starrr.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/Scripts/Vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!-- FullCalendar -->
    <link href="~/Scripts/Vendors/FullCalendar/core/main.css" rel="stylesheet" />
    <link href="~/Scripts/Vendors/FullCalendar/daygrid/main.css" rel="stylesheet" />
    <link href="~/Scripts/Vendors/FullCalendar/timegrid/main.css" rel="stylesheet" />
    <link href="~/Scripts/Vendors/FullCalendar/list/main.css" rel="stylesheet" />

    <!-- Creados -->
    <link href="~/Content/ActionEdit.css" rel="stylesheet" />


    <!-- Custom Theme Style -->
    <link href="~/Content/PlantillaAlela/css/custom.min.css" rel="stylesheet" />

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/AdminHome/Index" class="site_title"><i class="fa fa-stethoscope"></i> <span>LinkPro</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/PlantillaAlela/images/user.png" alt="Imagen de Usuario" class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Bienvenido,</span>
                            <h2>Usuario Logueado</h2> <!-- AGREGAR NOMBRE DEL USUARIO LOGUEADO -->
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/AdminHome/Index">Inicio</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i> Gestion de Pacientes <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/GestionPaciente/Pacientes">Listar Pacientes</a></li> <!-- Form de Listar Pacientes Medico -->
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-table"></i> Gestion de Horario <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/GestionHorario/AjustarHorario">Ajustar Horario</a></li>
                                        <li><a href="/GestionHorario/Index">Mi Calendario</a></li>
                                        <!-- Form de Registro de Horario Medico -->
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-hospital-o"></i> Gestion de Sucursal <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Sucursal/Index">Ajustar Sucursal</a></li> <!-- Forma de Agendar Citas -->
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-ambulance"></i> Gestion de Citas <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="">Agendar Cita</a></li> <!-- Forma de Agendar Citas -->
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top">
                            <span aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top">
                            <span aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top">
                            <span aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="/Users/Log">

                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span><!-- agregar el Action de deslogueo -->
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/PlantillaAlela/images/user.png" alt="">Usuario Logueado <!-- Agregar Nombre de Usuario que este logueado -->
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;"> Profile</a> <!-- AGREGAR REDIRECCION AL PERFIL DEL USER -->
                                    <a class="dropdown-item" href="/Users/Log"><i class="fa fa-sign-out pull-right"></i> Log Out</a> <!-- AGREGAR VISTA PARA EL LOGUEO -->
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="~/Content/PlantillaAlela/images/user.png" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- Bootstrap -->
    <script src="~/Scripts/Vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- NProgress -->
    <script src="~/Scripts/Vendors/nprogress/nprogress.js"></script>

    <!-- iCheck -->
    <script src="~/Scripts/Vendors/iCheck/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Scripts/Vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="~/Scripts/Vendors/google-code-prettify/src/prettify.js"></script>
    <!-- Switchery -->
    <script src="~/Scripts/Vendors/switchery/dist/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="~/Scripts/Vendors/select2/dist/js/select2.full.min.js"></script>
    <!-- starrr -->
    <script src="~/Scripts/Vendors/starrr/dist/starrr.js"></script>
    <!-- FullCalendar -->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/Vendors/FullCalendar/core/locales/es.js"></script>
    <script src="~/Scripts/Vendors/FullCalendar/core/main.js"></script>
    <script src="~/Scripts/Vendors/FullCalendar/interaction/main.js"></script>
    <script src="~/Scripts/Vendors/FullCalendar/daygrid/main.js"></script>
    <script src="~/Scripts/Vendors/FullCalendar/timegrid/main.js"></script>
    <script src="~/Scripts/Vendors/FullCalendar/list/main.js"></script>

    <!-- FastClick -->
    <script src="~/Scripts/Vendors/fastclick/lib/fastclick.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Content/PlantillaAlela/js/custom.min.js"></script>



</body>
</html>