@using LinkPro_Proyect.Models
@model List<MedicoCLS>
@{
    ViewBag.Title = "Horario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Mi Horario</h3>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- Alert Dismissing-->
                <div id="divErrors"
                     class="alert alert-danger alert-dismissible fade show" role="alert"
                     style="display:none">
                    <strong>
                        <span id="errors"></span>
                    </strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- /Alert Dismissing-->
                <div class="x_panel">
                    <div class="x_title">

                        <div class="ln_solid"></div>
                        <div class="item form-group">
                            <a href="/GestionHorario/AjustarHorario" class="col-md-2 col-sm-2 offset-md-5 btn btn-success">Agregar Horario</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--- Contenedor del Calendario --->
            <div class="col-md-12 col-sm-12">
                <div class="x_content">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Horario del Mes </h3>
                        </div>
                        <!--- Buscador --->
                        @*<div class="title_right">
                            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>*@
                        <!--- /Buscador --->
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Registrar Disponibilidad</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        Click en el día que deseas registrar
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div id='calendar'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!---Contenedor del Calendario --->
            </div>
        </div>
    </div>
</div>


<script>

    var medicoid = @ViewBag.Med;

    //JQuery
    $(function ()
    {
        GetHorarioCalendar();
    });

    function GetHorarioCalendar(medicoid) {

        $.get('/GestionHorario/GetCalendar?id=' + medicoid)
            .done(function (data) {
                var IsSuccessful = data.IsSuccessful;

                if (IsSuccessful) {
                    var events = [];

                    $.each(data.Data, function (idx, items) {
                        events.push({
                            'id': items.horarioid,
                            'title': items.nombreDisp,
                            'start': items.fullinicio,
                            'end': items.fullfin,
                            'allDay': items.all_day,
                            'color': items.colorDisp,
                            'textColor': items.textDisp
                        });
                    });

                    var calendarEl = document.getElementById('calendar');

                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        plugins: ['dayGrid', 'interaction'],
                        header: {
                            left: 'prevYear,prev,next,nextYear today',
                            center: 'title',
                            right: 'dayGridMonth,dayGridWeek,dayGridDay'
                        },
                        navLinks: true,
                        eventLimit: true,
                        eventClick: function (info) {
                            alert('Event: ' + info.event.title);


                            // change the border color just for fun
                            info.el.style.borderColor = 'red';
                        },

                        events: events,

                        eventTimeFormat:
                        {
                            hour: '2-digit',
                            minute: '2-digit',
                            hour12:false,
                        }
                    });

                    calendar.render();
                }
                else {
                    var errors = data.Errors;
                    displayValidationErrors(errors);
                }
            });
    }

    function displayValidationErrors(errors)
    {
        var $ul = $('<ul>');
        $ul.empty();

        $.each(errors, function (idx, errorMessage) {
            $ul.append('<li>' + errorMessage + '</li>');
        });

        $('#errors').html($ul);
        $('#divErrors').show();
    }
</script>




