
@{
    ViewBag.Title = "Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Agregar Nombre de los Pacientes que PERTENECEN A ESTE PROFESIONAL (MEDICOID) -->
<div class="x_panel">
    <div class="x_title">
        <h2>Tus Pacientes</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                Listado de Pacientes que se han atendido con usted
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br />
        <form class="form-label-left input_mask">
            <div class="col-md-2 col-sm-2 has-feedback">
                <div>
                    <img src="~/Content/PlantillaAlela/images/user.png" alt="Imagen de Usuario" class="img-circle profile_img">
                </div>
            </div>
            <div class="col-md-6 col-sm-6  form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Nombre"> <!--Nombre del Paciente-->
                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6  form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="inputSuccess3" placeholder="Apelldios"> <!--Nombre del Apellido-->
                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-6 col-sm-6  form-group has-feedback">
                <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Estado"> <!--Nombre del Estado-->
                <span class="fa fa-bullseye form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="content col">
                <div class="col">
                    <div class="form-group row">
                        <div class="col-md-9 col-sm-9 offset-md-3">
                            <div class="col-md-6 col-sm-6 ">
                                <button type="button" class="btn btn-primary">Datos de Paciente</button> <!--Boton que despliega los datos del PACIENTE SELECCIONADO-->
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <button type="button" class="btn btn-primary">Historial de Citas</button> <!--Boton que Despliega el Historial de CITAS DEL PACIENTE SELECCIONADO-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="ln_solid"></div>
    </div>
</div>
